$color-black: #2e2e2e;
$color-gray: #6c6c6c;
$color-gray-light: #b4b4b4;
$color-red: #f62f5e;
$color-white: #ffffff;
$color-blue: #6eb2fb;
$color-yellow: #effc90;
$color-yellow-dark: #f1ad3d;
$color-white-gray: #f7f7f7;
$color-white-gray-2: #fafafa;
$color-green: #7ed321;
$color-purple: #9013fe;
$color-orange: #fe5c07;
$color-cyan: #00d3ca;
