@import '../../styles/mixins';

.side-filter {
  font-family: Montserra-Bold;
  .filter-header {
    padding: 15px;
    h1 {
      font-family: Roboto;
      font-size: 1.8rem;
    }
    @include block-shadow;
    background-color: $color-white-gray-2;
    .selected-category {
      display: flex;
      align-items: center;
      margin-top: 5px;
      font-size: 1.5rem;
      img {
        cursor: pointer;
      }
    }
  }
  .filters {
    @include block-shadow;
    background-color: #fff;
    padding: 15px;
    h2 {
      font-size: 1.5rem;
      color: $color-gray-light;
    }
  }
}

.radio-category {
  font-family: Roboto;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  input {
    margin-right: 5px;
    &:checked {
      ~ label {
        // color: $color-red;
      }
    }
  }
}
