@import '../../styles/colors';

#fixed-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-family: Montserrat-Bold;
  .nav-top,
  .nav-bottom {
    width: 100%;
  }
  .navbar-item {
    &:hover {
      background-color: transparent;
    }
  }
  .nav-top {
    padding: 0.5rem 0;
    .navbar-item {
      color: $color-black;
      display: inline-block;
    }
    .column {
      display: flex;
      align-items: center;
    }
  }
  .nav-bottom {
    background-color: $color-black;
    padding: 0.8rem 0;
    .brand-name {
      color: $color-red;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 5px;
    }
    .navbar {
      background-color: transparent;
    }
    .navbar-item {
      color: $color-white;
    }
  }
}

.auth-btn {
  color: $color-red;
  font-size: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.nav-search {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: $color-gray;
  &__input {
    font-size: 1.4rem;
    line-height: 1.5rem;
    background-color: transparent;
    border: none;
    padding: 0.4rem 0.5rem;
    color: $color-white;
    &::placeholder {
      color: $color-white;
    }
    &:focus {
      outline: none;
    }
  }
}

.nav-cart {
  position: relative;
  display: inline-block;
  &__image {
    margin-right: 10px;
    margin-bottom: -3px;
  }
  &__counter {
    font-size: 18px;
    position: absolute;
    right: -6px;
    top: -7px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
