@import './styles/colors';

@font-face {
  font-family: Playfair-Bold;
  src: url('./assets/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: OpenSans;
}

// Typography
h1 {
  font-family: Playfair-Bold;
  font-size: 48px;
}

h2 {
  font-family: Montserrat-Bold;
  font-size: 24px;
}

h3 {
  font-family: Montserrat-Bold;
  font-size: 16px;
}

// Color helpers
.color-red {
  color: $color-red;
}
.color-white {
  color: $color-white;
}
.color-gray {
  color: $color-gray;
}

// Background color helpers
.bg-red {
  background-color: $color-red;
}

.bg-white {
  background-color: $color-white;
}

// Flec Alignment helpers
.content-center {
  justify-content: center;
}
.content-flex-end {
  justify-content: flex-end;
}
.content-space-between {
  justify-content: space-between;
}
.content-space-around {
  justify-content: space-around;
}
.items-center {
  align-items: center;
}

// Margins helpers
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
