@import './styles/colors';
@import './styles/forms';
@import './styles/mixins';
@import './styles/variables';

@font-face {
  font-family: Playfair-Bold;
  src: url('./assets/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: OpenSans;
}

// Typography
h1 {
  font-family: Playfair-Bold;
  font-size: 48px;
}

h2 {
  font-family: Montserrat-Bold;
  font-size: 24px;
}

h3 {
  font-family: Montserrat-Bold;
  font-size: 16px;
}

// Color helpers
.color-red {
  color: $color-red !important;
}
.color-white {
  color: $color-white;
}
.color-gray {
  color: $color-gray;
}

// Background color helpers
.bg-red {
  background-color: $color-red;
}
.bg-white {
  background-color: $color-white;
}
.bg-gray {
  background-color: $color-gray;
}
.bg-yellow {
  background-color: $color-yellow;
}
.bg-yellow-dark {
  background-color: $color-yellow-dark;
}
.bg-green {
  background-color: $color-green;
}
.bg-blue {
  background-color: $color-blue;
}
.bg-cyan {
  background-color: $color-cyan;
}
.bg-purple {
  background-color: $color-purple;
}
.bg-orange {
  background-color: $color-orange;
}

// Flec Alignment helpers
.content-center {
  justify-content: center;
}
.content-flex-end {
  justify-content: flex-end;
}
.content-space-between {
  justify-content: space-between;
}
.content-space-around {
  justify-content: space-around;
}
.items-center {
  align-items: center;
}

// Margins helpers
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

.color-box {
  width: 22px;
  height: 22px;
  display: inline-block;
  border-radius: 50%;
  margin: 30px 30px 10px 0;
  position: relative;
  box-shadow: 0 0 1px $color-gray-light;
  cursor: pointer;
  &.selected {
    &::after {
      position: absolute;
      border: 2px solid $color-gray-light;
      content: ' ';
      width: 40px;
      height: 40px;
      border-radius: 50%;
      left: -9px;
      top: -9px;
    }
  }
}

.loading-container {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 10;
}

.loading {
  position: relative;
  color: transparent !important;
}

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  right: auto;
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(247, 234, 234, 0.3);
  border-radius: 50%;
  border-top-color: #fbd2dc;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.position-relative {
  position: relative;
}

.font-roboto {
  font-family: Roboto;
}

button {
  &.button {
    border: 30px;
  }
}

.modal-view {
  .modal-background {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    .modal-card-head {
      border-radius: 0;
      border-bottom: 0;
      background-color: #fff;
    }
    .modal-card-body {
      min-height: 200px;
    }
    .modal-card-foot {
      border-radius: 0;
      border-top: 0;
      justify-content: space-between;
    }
  }
}

.modal-close-btn {
  cursor: pointer;
}

.input,
.textarea {
  box-shadow: none;
}

.help.is-danger {
  min-height: 18px;
}

/* Progress Bar Steps */
.progressbar-container {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin-bottom: 40px;
  .progressbar {
    counter-reset: step;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    li {
      list-style-type: none;
      flex: 1;
      position: relative;
      text-align: center;
      color: $color-gray;
      &:first-child:after {
        content: none;
      }
      &.active {
        color: $color-red;
        &:before {
          background-color: $color-red;
          z-index: 10;
        }
        ~ li {
          position: relative;
          color: $color-red;

          &:before {
            background-color: $color-red;
          }
          &:after {
            background-color: $color-red;
          }
        }
      }
      &:before {
        width: 28px;
        height: 28px;
        content: '';
        counter-increment: step;
        border: 2px solid transparent;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: $color-gray-light;
        border: 4px solid #fff;
      }
      &:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: $color-gray-light;
        top: 14px;
        right: -50%;
        z-index: -1;
      }
    }
  }
}

.is-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.is-fullwidth {
  width: 100%;
}
